SPRING_PROFILES_ACTIVE=local

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=laptopshop
MYSQL_USER=root
MYSQL_PASSWORD=change_me

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
SPRING_SECURITY_LOG_LEVEL=INFO
APP_DEMO_SEED=true
SPRING_SESSION_JDBC_INITIALIZE_SCHEMA=always
